<meta class="mktoString" id="infoboxHeadline" mktoName="Info Box Headline" default="Headline">
<meta class="mktoString" id="infoboxSubheadline" mktoName="Info Box Subheadline" default="Subheadline">

<style>
/* Headline */
.headline, .headline-subtext {
    color: #595555;
    text-align: center;
}
.headline {
    text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	line-height: 1.3;
    font-size: 35px;
    margin: 0;
}
.headline>span {
    position: relative;
}
.headline>span:before, .headline>span:after {
    content: "";
	width: 160px;
    top: calc(50% + 2px);
	position: absolute;
	border-bottom: 1px solid #595555;
}
.headline>span:before {
	left: -170px;
}
.headline>span:after {
	right: -170px;
}
.headline-subtext { 
    margin: 0;
    font-size: 14px;
}
</style>

<!-- Headline -->
<div class="container padding40">
    <h2 class="headline"><span>${infoboxHeadline}</span></h2>
    <p class="headline-subtext">${infoboxSubheadline}</p>
</div>

