<meta class="mktoBoolean" id="showInfoBoxSection" mktoName="Show Info Box Section?" default="true" true_value="block" false_value="none" false_value_name="Hide" true_value_name="Show">

<meta class="mktoString" id="infoBoxTitle1" mktoName="Info Box Title 1" default="Title 1">
<meta class="mktoString" id="infoBoxLink1" mktoName="Info Box Link 1" default="Link 1">
<meta class="mktoString" id="infoBoxImg1" mktoName="Info Box Image 1" default="https://content.smartdeploy.com/rs/794-HYU-673/images/infobox-display.svg">

<meta class="mktoString" id="infoBoxTitle2" mktoName="Info Box Title 2" default="Title 2">
<meta class="mktoString" id="infoBoxLink2" mktoName="Info Box Link 2" default="Link 2">
<meta class="mktoString" id="infoBoxImg2" mktoName="Info Box Image 2" default="https://content.smartdeploy.com/rs/794-HYU-673/images/infobox-dropbox.svg">

<meta class="mktoString" id="infoBoxTitle3" mktoName="Info Box Title 3" default="Title 3">
<meta class="mktoString" id="infoBoxLink3" mktoName="Info Box Link 3" default="Link 3">
<meta class="mktoString" id="infoBoxImg3" mktoName="Info Box Image 3" default="https://content.smartdeploy.com/rs/794-HYU-673/images/infobox-windows8.svg">

<meta class="mktoString" id="infoBoxTitle4" mktoName="Info Box Title 4" default="Title 4">
<meta class="mktoString" id="infoBoxLink4" mktoName="Info Box Link 4" default="Link 4">
<meta class="mktoString" id="infoBoxImg4" mktoName="Info Box Image 4" default="https://content.smartdeploy.com/rs/794-HYU-673/images/infobox-office.svg">

/* Info Box Section */
.infobox-link {
    color: inherit;
}

.infobox-link:hover,
.infobox-link:focus {
    color: #333;
}

.infobox-link:hover .infobox-icon,
.infobox-link:focus .infobox-icon {
    color: #333;
    transform: scale(1.2); 
}

.infobox-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.infobox-header h3 {
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: 600;
}

.infobox-icon {
    transform: scale(1);
    -webkit-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    transition: transform .2s linear;
}

/* fix the weird  marketo image spacing */
@media only screen and (max-width: 959px) and (min-width: 768px) {
    .infobox-icon {
        margin: 0;        
    }
}

.infobox-body {
    line-height: 1.5;
}

.infobox-body p {
    margin: 15px 0;
}

.infobox-more-text {
    color: #f38c20;
    font-size: 13px;
}


<!-- Info Box Section -->
<div id="infoBoxSection" style="display:${showInfoBoxSection};">
    <section>
        <!-- Add Headline Here -->
        <div class="container padding40">
            <div class="row">
                <div class="col-sm-3">
                    <a href="${infoBoxLink1}" class="infobox-link">
                        <div class="infobox-header">
                            <img src="${infoBoxImg1}" alt="" class="infobox-icon">
                            <h3>${infoBoxTitle1}</h3>
                        </div>
                        <div class="mktoText" id="info-box-text-1" class="infobox-body" mktoName="Info Box Text 1">                    
                            <p>Itaque earum rerum hic tenetur a sapiente delectus</p>
                            <p class="infobox-more-text">Learn more</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="${infoBoxLink2}" class="infobox-link">
                        <div class="infobox-header">
                            <img src="${infoBoxImg2}" alt="" class="infobox-icon">
                            <h3>${infoBoxTitle2}</h3>
                        </div>
                        <div class="mktoText" id="info-box-text-2" class="infobox-body" mktoName="Info Box Text 2">                    
                            <p>Ut aut reiciendis voluptatibus maiores alias consequatur</p>
                            <p class="infobox-more-text">Learn more</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="${infoBoxLink3}" class="infobox-link">
                        <div class="infobox-header">
                            <img src="${infoBoxImg3}" alt="" class="infobox-icon">
                            <h3>${infoBoxTitle3}</h3>
                        </div>
                        <div class="mktoText" id="info-box-text-3" class="infobox-body" mktoName="Info Box Text 3">                    
                            <p>Ut aut reiciendis voluptatibus maiores alias consequatur</p>
                            <p class="infobox-more-text">Learn more</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="${infoBoxLink4}" class="infobox-link">
                        <div class="infobox-header">
                            <img src="${infoBoxImg4}" alt="" class="infobox-icon">
                            <h3>${infoBoxTitle4}</h3>
                        </div>
                        <div class="mktoText" id="info-box-text-4" class="infobox-body" mktoName="Info Box Text 4">                    
                            <p>Ut aut reiciendis voluptatibus maiores alias consequatur</p>
                            <p class="infobox-more-text">Learn more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
