<meta class="mktoBoolean" id="showPromo" mktoName="Show Promo?" default="true" true_value="block" false_value="none" false_value_name="Hide" true_value_name="Show">  
<meta class="mktoBoolean" id="showPromoButton" mktoName="Show Promo Button?" default="true" true_value="block" false_value="none" false_value_name="Hide" true_value_name="Show">  

<meta class="mktoColor" id="promoBgColor" mktoName="Promo Background Color" default="#777777">
<meta class="mktoString" id="promoButtonLink" mktoName="Promo Button Link" default="#">    
<meta class="mktoString" id="promoButtonLabel" mktoName="Promo Button Label" default="Get Started">
<meta class="mktoString" id="promoImg" mktoName="Promo Image" default="https://picsum.photos/570/490">
<meta class="mktoString" id="promoImgAlt" mktoName="Promo Image Alt Description" default="">

/* Promo Section  */
	#promo {
		background-color: ${promoBgColor} !important;
	}

	#promo-title h1 {
		font-family: 'Open Sans', sans-serif;
	}

	.promo-text-col {
		padding-top: 24px;
	}

	.promo-img-col img {
		max-width: 100%;
	}

	.promo-button-wrap {
		margin-top: 36px;
		text-align: center;
	}

	.promo-button {
		font-weight:normal;
		width: 260px;
		padding: 20px;
		border:none;
		background: #f38c20;
		color: #fff;
		display: inline-block;
		max-width: 100%;
		font-size: 20px;
		transition: transform .3s ease;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}

	.promo-button:hover, 
	.promo-button:focus {
		color: #fff;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

<!-- Promo -->
<div style="display:${showPromo};">
	<section id="promo" class="padding40">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 promo-img-col">
					<img src="${promoImg}" alt="${promoImgAlt}" >
                </div>
                <div class="col-sm-6 promo-text-col">
                    <div class="mktoText" id="promo-title" mktoName="Promo Title">
                        <h1>
                            <span style="color: #efefef; font-size: 50px; font-weight: 800; line-height: 48px;">QUICK TIP:</span><br>
                            <span style="color: #efefef; font-size: 36px; font-weight: 800; line-height: 40px;">REIMAGING  COMPUTERS</span><br>
                            <span style="color: #efefef; font-size: 46px; font-weight: 800; line-height: 40px;">CAN ACTUALLY BE
                            <span style="color: #f38c20; font-size: 50px; font-weight: 800; line-height: 40px;">FUN</span>.</span>
                        </h1>
                    </div>
                    <div class="mktoText" id="promo-body" mktoName="Promo Body">
                        <p style="font-size: 18px; font-weight: 400; color: #efefef;">Claim your free licenses and support
                            ($655 value), exclusively for fans and friends of Linus.</p>
                    </div>
                    <div class="promo-button-wrap" style="display:${showPromoButton};">
                        <a href="${promoButtonLink}" class="promo-button">${promoButtonLabel}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End Promo -->