<meta class="mktoBoolean" id="showSignupSection" mktoName="Show Signup Section?" default="true" true_value="block" false_value="none" false_value_name="Hide" true_value_name="Show">

<meta class="mktoString" id="signupHeadline" mktoName="Signup Headline" default="Headline">
<meta class="mktoString" id="signupSubheadline" mktoName="Signup Subheadline" default="Subheadline">

<meta class="mktoString" id="signupFormTitle" mktoName="Signup Form Title" default="Activate Your Offer">
<meta class="mktoString" id="signupFormImg" mktoName="Signup Form Image" default="https://picsum.photos/390/537">

<style>
    .signup-body {
        margin-bottom: 20px;
    }
    .signup-form-title {
        font-size: 19px;
        text-transform: uppercase;
    }
    @media only screen and (max-width: 992px) {
        .signup-image-wrap {
            text-align: center;
        }
	}
</style>

<!-- Signup Section -->
<div id="signupSection" style="display:${showSignupSection};"> 
    <section>
        <div class="container padding40">
            <!-- Add Headline Here  -->
        </div>
        <div class="container padding40">
            <div class="row">
                <div class="col-md-8 signup-body text-center">
                    <h3 class="signup-form-title">${signupFormTitle}</h3>
                    <div class="mktoForm" id="signupForm" mktoName="Signup Form"></div>
                </div>
                <div class="col-md-4 signup-image-wrap">
                    <img src="${signupFormImg}" alt="">
                </div>
                <div class="col-md-8">
                    <div class="mktoText" id="finePrint" mktoName="Signup Fine Print">
                        Fine print text here.
                    </div>
                </div>
            </div>            
        </div>
    </section>
</div>
